<div class="row col-6 card shadow mx-auto">
  <div class="card-body text-center">
    <h5 class="card-title">{{product?.name}}</h5>
    <img src="https://picsum.photos/300/150" class="card-img-top">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At maiores corporis earum quidem esse eius debitis molestiae. Alias, praesentium nemo dolore blanditiis velit nihil minus repellendus asperiores, eos sapiente non?</p>
    <button routerLink="/" class="btn btn-dark mt-2">RETOUR</button>
  </div>
</div>
