<div class="text-center my-3">
  <button class="btn btn-dark
  mt-5 text-uppercase mx-2"
  (click)="allAvailable()">Disponible</button>
  <button class="btn btn-dark
  mt-5 text-uppercase mx-2"
  (click)="allUnAvailable()">Non Disponible</button>
</div>
<div id="bloc" class="container">
  <table class="table mt-5">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr app-product
      *ngFor="let product of products"
      [id]="product.id"
      [name]="product.name"
      [status]="product.status">
      </tr>
    </tbody>
  </table>
  </div>

