
  <td>{{id}}</td>
  <td>{{name}}</td>
  <td>{{status}}</td>
  <td class="d-flex justify-content-beetween">
  <button (click)="onClickSwitchStatus()"
  class="btn btn-outline-dark me-2">
    Basculer en {{nextStatus | lowercase}}
  </button>
  <div class="d-flex">
    <button [routerLink]="['/products', id]"
    class="btn btn-info me-2">
      DÉTAILS
    </button>
    <button [routerLink]="['/products', id, 'edit']"
    class="btn btn-warning me-2">
      ÉDITER
    </button>
    <button (click)="onClickDeleteProduct()" class="btn btn-danger">
      SUPPRIMER
    </button>
  </div>
</td>
