body{
  background: linear-gradient(89deg, #cfc8fb, #dff77f, #ffcd87);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}
@keyframes AnimationName {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}
